header {
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-sizing: border-box;
}

.header-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50%;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
}
