* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  z-index: 100;
}

.header-section {
  background-color: #f8ebe6;
  position: fixed;
  height: 90px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 10px 5px 5px #fe5000;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.menu li {
  font-weight: 500;
  font-size: 14px;
  color: #c3b9b5;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.menu li:first-of-type {
  color: #fe5000;
}

nav {
  position: absolute;
  padding-top: 90px;
  width: 200px;
  height: 100%;
  border-right: 3px solid #fe5000;
}

.nav-section {
  top: 100px;
}

.navbar {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.navbar {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
  text-transform: capitalize;
}

.navbar li {
  width: 100%;
  background-color: #fe5000;

  border-bottom: 1px solid #c3b9b5;
  box-sizing: border-box;
  padding: 10px;
}

.navbar li:hover {
  cursor: pointer;
  color: white;
}

main {
  position: absolute;
  left: 220px;
  top: 100px;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

img {
  width: 250px;
}

footer {
  position: absolute;
  background-color: rgb(245, 181, 181);
  height: 300px;
  width: 100%;
  bottom: 0;
  top: 600px;
  box-sizing: border-box;
  padding: 50px;
}
