<section class="testimonials">
  <h1>Clients Testimonial</h1>
  <div class="grid">
    <div class="card">
      <p>Incredible Experience</p>
      <div>
        We had an incredible experience working with Landify and were impressed
        they made such a big difference in only three weeks. Our team is so
        grateful for the wonderful improvements they made and their ability to
        get familiar with the concept so quickly.
      </div>
    </div>
    <div class="card">
      <p>Dependable, Responsive, Professional Partner</p>
      <div>
        Fermin Apps has collaborated with Landify team for several projects such
        as Photo Sharing Apps and Custom Social Networking Apps. The experience
        has been pleasant, professional and exceeding our expectations.
      </div>
    </div>
  </div>
  <div class="grid marginTop">
    <div>
      <img src="../../assets/page4.png" alt="" />
      <div class="person">
        <div>Anya Tailor Joy</div>
        <div>CEO, SF Industires</div>
      </div>
    </div>
    <div>
      <img src="../../assets/page4.png" alt="" />
      <div class="person">
        <div>Sri Alam</div>
        <div>CEO, Membagongkan GROUP</div>
      </div>
    </div>
  </div>
</section>

<section class="questions">
  <div class="questions-left">
    <h2>Complex Questions?</h2>
    <p>
      Request for a personalized budget for your legal problem. We will send you
      a coupe options in 24 hours. You can have free consult , if a our first
      customer
    </p>
    <button>
      <img src="../../assets/phone.png" /> <span> Call now </span>
    </button>
  </div>
  <div class="questions-right">
    <img src="../../assets/man.png" alt="" />
  </div>
</section>
