section {
  background: #f2f7ff;
  padding: 126px 260px 167px;
  box-sizing: border-box;
  display: flex;
  gap: 5rem;
}

section > div {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-feature-settings: "salt" on, "liga" off;
}

.left {
  width: 40%;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.right > div {
  width: 16rem;
  background: #fcfcfc;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 1.5rem;
}

h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.375rem;
  letter-spacing: 0.5px;
}

.right p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
  color: #8b8c8c;
}

.left > h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.323077px;
}

.left > div {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.25rem;
  letter-spacing: 0.5px;
  color: #8b8c8c;
}
