<section>
  <div class="left">
    <h3>Why do we help with legalization?</h3>
    <div>
      We are here for UMKM in Indonesia to carry out the legalization process,
      which is sometimes complicated.
    </div>
  </div>
  <div class="right">
    <div>
      <img src="../../assets/page2_1.png" alt="1" />
      <h3>Enviromental Law</h3>
      <p>
        Environmental legal issues might occur since the planned business
        activities are designed
      </p>
    </div>
    <div>
      <img src="../../assets/page2_2.png" alt="2" />
      <h3>Corporate and Commercial</h3>
      <p>
        We provide a complete range of services for the continuity of your
        business activities.
      </p>
    </div>
    <div>
      <img src="../../assets/page2_3.png" alt="3" />
      <h3>Information and Technology</h3>
      <p>
        IT not followed by the existing regulation which might cause legal
        uncertainty and business uncertainty.
      </p>
    </div>
    <div>
      <img src="../../assets/page2_4.png" alt="4" />
      <h3>Other Services</h3>
      <p>
        In dealing with disruptive economic and legal challenge, our firm also
        provide various legal services.
      </p>
    </div>
  </div>
</section>
