<section class="top">
  <div>
    <img src="../../assets/logo_footer.png" alt="" />
  </div>
  <div class="wrapper">
    <ul>
      <li>Product</li>
      <li>Overview</li>
      <li>Features</li>
      <li>Tutorials</li>
      <li>Pricing</li>
      <li>Releases</li>
    </ul>
    <ul>
      <li>Company</li>
      <li>About</li>
      <li>Press</li>
      <li>Careers</li>
      <li>Contact</li>
      <li>Partners</li>
    </ul>
    <ul>
      <li>Support</li>
      <li>Help Center</li>
      <li>Terms of service</li>
      <li>Legal</li>
      <li>Privacy Policy</li>
      <li>Status</li>
    </ul>
  </div>
</section>

<section class="bottom">
  <div>© 2021 Lawliet. All rights reserved</div>
  <div>
    <img src="../../assets/instagram.png" alt="" />
    <img src="../../assets/icon.png" alt="" />
    <img src="../../assets/twitter.png" alt="" />
    <img src="../../assets/youtube.png" alt="" />
  </div>
</section>
